<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PwkApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="opName" value="PAWKAD"/>
    <add key="opPass" value="P@W@K@D"/>
    <add key="clientID" value="PAWKAD"/>
    <add key="terminalID" value="000000000006"/>
    <add key="purchaseCurrency" value="N"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
        <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="pwkConn8" connectionString="server=sql2pawakad.cl0goj9nhyti.eu-west-1.rds.amazonaws.com;database=DMLive;uid=DMLive;password=#T1DP@4tlD;"/>
  </connectionStrings>
  <applicationSettings>
    <PwkApi.Properties.Settings>
      <setting name="PwkApi_com_conlog_val_phb_XMLVendService" serializeAs="String">
        <value>http://196.43.252.7:17300/GatewayServiceASP.asmx</value>
      </setting>
    </PwkApi.Properties.Settings>
  </applicationSettings>
  <!--<applicationSettings>
    <PwkApi.Properties.Settings>
      <setting name="PwkApi_com_conlog_val_phb_XMLVendService" serializeAs="String">
        <value>http://phb.val.conlog.com:17300/GatewayServiceASP.asmx</value>
      </setting>
    </PwkApi.Properties.Settings>
  </applicationSettings>-->
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
</configuration>